language: python
python:
    - "2.7"
# Command to install dependencies
install:
    - pip install -r requirements.txt
# Command to run tests
script: python ./tests.py

notifications:
  email: false
  irc:
    channels:
      - "irc.mozilla.org#mozillatunisia"
    on_success: change
    on_failure: always
    use_notice: true
    skip_join: true
