{% extends "layout.html" %}
{% block body %}
{% for c in categories %}
  <section class="billboard products">
    <h1>{{ c.name }}</h1>
      <ul>
        {% for s in (c|getSlides) %}
        <li>
          <img="{{ s.screenshot }}" alt="{{ s.title }}">
          <div style="text-align:center">
            <button class="demo button" onClick="target='_blank';window.open('{{ s.url }}')"<span>Online</span></button>
            <button class="demo button" disabled><span>Download</span></button>
          </div>
          <p>{{ s.description }}</p>
        </li>  
        {% endfor %} 
    </ul>           
  </section>
{% endfor %}
{% endblock %}
