{% extends "layout.html" %}
{% block body %}
{% if categories|length > 0 %}
  {% for category in categories %}
    <section id="{{ category.name }}" class="billboard products">
      <h1>{{ category.name }}</h1>
        <ul>
          {% for slide in (category|getSlides) %}
          <li>
            <div id="reserved">
	      {% if slide.screenshot == "img/badge-reserved.jpg" %}
                <img src={{ url_for('static', filename=slide.screenshot)}} alt="{{ slide.title }}">
	      {% else %}
                <img src={{slide.screenshot}} alt="{{ slide.title }}">
              {% endif %}
              <p>Presentation&nbsp;with default&nbsp;screenshot.</p>
            </div>
            <div style="text-align:center">
              <button class="demo button" onClick="target='_blank';window.open('{{ slide.github_demo_url }}')"><span>Online</span></button>
              <button class="download button" onClick="window.location.href='{{ slide.github_download_url }}'"><span>Download</span></button>
            </div>
            <p>{{ slide.description }}</p>
          </li>  
          {% endfor %}
      </ul>         
    </section>
  {% endfor %}
{% else %}
    <h1>No categories were found</h1>
{% endif %}
{% endblock %}
